{
  "branches": ['+([0-9])?(.{+([0-9]),x}).x', 'main', 'next', 'next-major', {name: 'beta', prerelease: true}, {name: 'alpha', prerelease: true}],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/exec", {
      "prepareCmd": "npm run bump-plugin-version -- ${nextRelease.version} && npm install",
    }],
    ["@semantic-release/git", {
      "assets": ["src/manifest.json", 'CHANGELOG.md', 'package.json', 'package-lock.json', 'npm-shrinkwrap.json'],
    }],
    "@semantic-release/github",

  ]
}
